/*
colors:
aqua: #9bf2d7;
pink: #ffa8ca;
yellow: #f2e266;
*/

/*
hotfoods:
coffee: https://static.vecteezy.com/system/resources/previews/000/395/325/non_2x/hot-drink-paper-cup-with-mockup-sleeve-vector.jpg
donut: https://static.vecteezy.com/system/resources/previews/000/406/612/non_2x/donut-with-a-bite-vector.jpg
banana split: http://www.vectorsland.com/imgd/l91318-banana-split-86989.jpg
pancakes: https://media.istockphoto.com/vectors/breakfast-pancakes-illustration-vector-id928142004?k=6&m=928142004&s=612x612&w=0&h=cZIzTU4T4F7OsPSQsQJGHE-Y3Uq0tciuiDUd_Np2vG8=

coldfoods:
icedCoffee: https://static.vecteezy.com/system/resources/previews/000/202/224/non_2x/iced-coffee-illustration-vector.jpg
sundae: https://static.vecteezy.com/system/resources/previews/000/643/121/non_2x/vector-twisted-soft-ice-cream-on-pastel-background.png
fruit salad: https://static.vecteezy.com/system/resources/previews/000/271/037/non_2x/color-acai-bowl-vector.jpg
popsicle: https://static.vecteezy.com/system/resources/previews/000/535/056/non_2x/vector-ice-pop.jpg

*/

button:focus {outline:0;}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  height: auto;
  background: #9bf2d7;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  color: #222;
}

h2 {
  font-size: 2rem;
  color: #222;
  margin: 0;
  padding: 0;
}

#modalTitle{
  font-weight: 400;
  font-size: 2.5rem;
  color: darkcyan;
}

#modalParr{
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0;
  color: darkcyan;
}

p{
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0;
  color: #222;
}